@charset "utf-8";

html,
body {
  box-sizing: border-box;
  font-size: 16px;
  background-color: #0cc;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

// ストップウォッチ本体
.stopwatch {
  background-color: #fff;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  border-radius: 1.6rem;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  color: #333;
  text-align: center;

  &__display {
    font-size: 4rem;
    margin: 1.6rem;
  }

  &__button {
    font-size: 1.6rem;
    display: inline-block;
    padding: 0.8rem 1.6rem;
    border: none;
    background-color: #c90;
    border-radius: 1.6rem;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);

    & + & {
        margin-left: 1rem;
    }

    &:hover {
      cursor: pointer;
      background-color: #f90;
    }
    &:disabled {
      cursor: default;
      background-color: #960;
    }
  }
}
